env {
	progsDir = "/users/ratcliff/kevin/data/kevin/progs" // root directory of programs
	igenomesDir = "/users/ratcliff/kevin/data/igenomes" // root directory of genomes
}

process {
	
	$fastqc {
		executor = 'sge'
		queue = 'short.qc'
		penv = 'shmem'
		cpus = 10
	}

	$multiqc {
		executor = 'sge'
		queue = 'short.qc'
		penv = 'shmem'
		cpus = 10
	}

}
